@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

:root{
  --primary-color: #11121a;
  --hover-color: #1e2035;
  --accent-color: #af4f00;
  --text-color: #c9c9c9;
  --t-color: #15ff24;
  --fullwhite: #ffffff;
  --Poppins: "Poppins", "Segoe UI", sans-serif;
  --Code-pro: "Source Code Pro", monospace;
  --Changa: "Changa One", italic;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none; */
}
html{
  font-family: var(--Poppins);
  color: var(--text-color);
  background-color: var(--primary-color);
  scroll-padding-top: 50px;
}

main{
  padding: min(5em, 7%);
}

main p{
  margin-top: .35em;
}

header{
  margin-top: 60px;
  color: var(--text-color);
  padding: 40px 20px;
  text-align: center;
}
.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: var(--hover-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 4px;
}
.btn:hover{
  background: var(--accent-color);
}

nav{
  background-color: var(--primary-color);
  border-bottom: none;
  border-bottom: 1px solid var(--hover-color);
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav .home-li{
  margin-right: auto;
  font-weight:bolder;
}
nav li{
  display: flex;
}
nav a{
  display: flex;
  font-family: var(--Code-pro);
  font-optical-sizing: auto;
  font-weight: lighter;
  text-decoration: none;
  color: var(--text-color);
  padding: 1em 2em;
  transition: background-color 150ms ease;
}

nav a:hover{
  background-color: var(--hover-color);
  color: var(--fullwhite);
  font-weight: bold;
}

nav a.active-link{
  border-bottom: 2px solid var(--text-color);
  color: var(--fullwhite);
}

nav a.accent-link{
  font-weight:500;
  background-color: var(--accent-color);
  /* border-radius: 6px; */
}

nav a.accent-link:hover{
  background-color: var(--hover-color);
  color: var(--fullwhite);
  font-weight: bolder;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: var(--primary-color);
}

section {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 40px 10px;
  max-width: 950px;
  margin: auto;
} 
.section-divider {
  display: flex;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
  font-family: var(--Code-pro);
}
.section-divider .line {
  height: 0.5px;
  background-color: var(--text-color);
  flex: 1;
}
/* who am I */
.text-aboutme{
  padding: 1.5em;
  text-align: center;
  font-weight: lighter;
}
strong{
  color: var(--accent-color);
}
/* projects */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
}

.project-card {
  background: var(--text-color);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* certifications*/
.images-container{
  display: grid;
  grid-template-columns: 
  repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-family: var(--Poppins);
  font-size: smaller;
  text-align:center;
}
img{
  height: auto;
  width: 200px;
}
#squared-image{
  height: 130px;
  width: 120px;
}
.image-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  /* border: solid 1px var(--t-color) */
}
.cert-code{
  font-family: var(--Code-pro);
  font-weight: lighter;
}
.cert-place_and_name{
  margin-top: 7px;
}
.course-status {
  font-weight:100;
}
.cert-link{
  color: var(--accent-color);
  font-size: x-small;
}


/* contact section */
#contact{
  min-height: 400px;display: flex;
}



footer {
  display: block;
  background: var(--hover-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}

#home-logo-container{
  padding: 0;
  margin: 0;
  /* border: solid 1px var(--t-color); */
}
#home-logo{
  height: 45px;
  width: 45px;
  padding: 0.3em;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: auto;
  /* border: solid 1px pink; */
  fill: var(--fullwhite);
  display: none;
  cursor: pointer;
  border-bottom: solid 2px var(--text-color);
  

}
#open-sidebar-button{
  position: fixed;
  top: 0;
  right: 0;
  /* width: 100%; */
  border: none;
  padding: 1em;
  height: 59px;
  cursor: pointer;
  display: none;
  z-index: 9;
  background:var(--primary-color)
}

#close-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  cursor: pointer;
  margin-left: auto;
}

#overlay{
  background: rgba(0,0,0,0.7);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/* mobile styles */
@media screen and (max-width: 809px){
  #open-sidebar-button, #close-sidebar-button{
    display: block;
  }

  #topbar-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    z-index: 10;
    border-bottom: 1px solid var(--hover-color);
    
  }
  .home-link-topbar {
    font-family: var(--Code-pro);
    color: var(--fullwhite);
    text-decoration: none;
    font-size: 1.1em;
    
  }
  #open-sidebar-button svg{
  width: 40px;
  height: 40px;
  display: block;
  margin-left: auto;
  padding-bottom: 0.5em;
  /* border: solid 1px pink; */
  

}
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    /* 100dvh ?? */
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-out;
  }
  nav.show{
    right: 0;
  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul{
  width: 100%;
  flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }
  /* nav a.active-link{
    border-bottom: none;
  } */
  nav .home-li{
    display: none;
    /* margin-right: unset; */
  }
  header {
  margin-top: 30px;
}
} 

/* Ipad and  small displays styles */
@media screen and (max-width: 1240px) and (min-width: 810px) {
  
  nav{
    padding: 0;
    margin: 0;
    
    /* border: solid 2px burlywood; */
  }
  nav ul {
    /* list-style: none; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* display: flex; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    /* padding: 0 0.5em; */
    /* border: solid 1px orange; */
  }

  nav li {
    /* flex: 1 1 auto; */
    /* border: solid 1px orange; */
  }

  nav a {
    font-size: 0.9em;
    padding: 0.8em 1em;
  }
  #home-logo{
    display: block;
    margin-right: auto;
  }

  nav .home-li {
    display: none;
    /* font-size: 1em;
    font-weight: bold;
    padding-left: 0;
    padding-right: 0.1em; */
  }

}

/* gmail and github */
.socials-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.socials-container a{
  background-color: var(--text-color);
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  place-items: center;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 32px;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-40px) translateX(-25px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}

.socials-container a:hover{
  background-color: var(--accent-color);
  fill: var(--fullwhite);
}

.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(-28px) translateX(-25px);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) translateX(-25px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-28px) translateX(-25px) rotate(0);
  opacity: 1;
}

